{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "printWidth": 80,
  "jsxBracketSameLine": true,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxSingleQuote": false,
  "trimTrailingWhitespace": true
}